:root{
    --color-red : #BB2323;
    --color-orange :#F87F28;
    --color-full-white : #FFFFFF;
    --color-grey-dark : #BFBFBF;
    --color-black :#232323;
    font-size: 100%;
}
html{
    margin: 0;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: var(--color-black);
}
main{
    display: flex;
    width: min(100%, 116.25rem);
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.page-container{
    width: min(100%, 116.25rem);
    height: min(100%, 408.5rem);
}
.componentdebut{
    display: flex;
    padding-top: 1%;
}
.div1top{
    display: flex;
    justify-content: space-evenly;
    min-width: 50%;
}
.div2top{
    display: flex;
    align-items: center;
    padding-left: 45%;
    max-width: 50%;
}
#olivtop{
    display: flex;
    font-family: 'Roboto';
    font-weight: 900;
    align-items: center;
    font-size: 2rem;
    line-height: 2.25rem;
    color: var(--color-full-white);
}
.paratop{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-full-white);
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin: 0;
    color: var(--color-full-white);
}
a{
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
    padding: .75rem 2rem;
    color: var(--color-orange);
    border: 0.125rem solid var(--color-orange);
    border-radius: 3.125rem;
    box-sizing: border-box;
    margin-right: 4%;
}
a:hover{
    color: var(--color-full-white);
    background: var(--color-red);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
img {
    max-width: 100%;
    height: auto;
    margin: 0;
  }
p{
    margin: 0;
}
ul{
    list-style: none;
    padding: 0;
}
.barre-orange{
    display: inline-block;
    border: 2px solid var(--color-orange);
    box-sizing: border-box;
    width: 4.5625rem;
    margin-top: .8125rem;
    margin-bottom: 1.25rem;
}
h2{
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 6.3125rem;
    letter-spacing: -0.1875rem;
    margin: 0;
    color: var(--color-full-white);
}
h3{
    margin: 0;
}
h4{
    display: flex;
    padding-top: 1.1875rem;
    padding-bottom: 1rem;
    align-items: start;
    margin: 0;
}
.olivier{
    display: inline-block;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 6.3125rem;
    letter-spacing: -0.0625rem;
    color: var(--color-orange);
}
.container1{
    display: grid;
    background-image: url(imgs/Grandes-images/background-cont1.webp);
    width: min(100vw, 116.25rem);
}
.componentcont1{
    display: flex;
    box-sizing: border-box;
    padding-top: 5%;
    padding-left: 21%;
}
#texte-div1-cont1{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-full-white);
    padding-right: 30%;
    margin-bottom: 5%;
}
#poste-div1-cont1{
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-full-white);
    padding-bottom: 13%;
}
.div1cont1{
    max-width: 38.9375rem;
}
.div2cont1{
    padding-left: 6%;
}
.div3cont1{
    display: grid;
    width: 60%;
    align-items: center;
    justify-items: center;
    margin: auto auto;
    grid-template-areas: "sega ubisoft microsoft electronic-arts capcom bethesda";
    margin-bottom: 4.375rem;
}
#clients{
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.9375rem;
    margin-top: 11.5%;
    text-align: center;
    letter-spacing: .1875rem;
    text-transform: uppercase;
    color: var(--color-grey-dark);
}
.container2{
    background-image: url(imgs/Grandes-images/background-cont2.webp);
    width: min(100vw, 116.25rem);
}
.div1cont2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 21.875rem;
    padding-left: 38%;
    padding-top: 8.3%;
    padding-bottom: 8.3%;
}
.compcont2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.technique{

}
.gestion-de-projet{

}
.management{

}
.langues{

}
#compétencescont2{
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.75rem;
    text-transform: capitalize;
    color: var(--color-full-white);
}
.styleparacont2{
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--color-full-white);
}
.styleh4cont2{
    font-weight: 600;
    text-align: center;
    font-size: 1rem;
    line-height: 1.375rem;
    color: var(--color-full-white);
}
@media screen and (max-width: 375px) {
    .page-container{
        padding: 1.375rem 1.875rem;
    }
    main{
        display: block;
    }
    .container1{
        background-image: none;
    }
    .paratop{
        display: none;
    }
    #clients{
       text-align: start; 
    }
    h1{
        padding-top: 10%;
    }
    h2{
    font-size: 2.5rem;
    line-height: 6.3125rem;
    letter-spacing: -0.1875rem;
    }
    .divcomponentdebut{
        padding: 0;
    }
    .componentcont1{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .div1top{
        justify-content: left;
    }
    .div2cont1{
        display: none;
    }
    .div3cont1{
        width: 100vw;
        grid-template-areas: "sega ubisoft"
                             "microsoft electronic-arts"
                             "capcom bethesda";
    }
    #texte-div1-cont1{
        max-width: 100vw;
        padding-right: 12%;
    }
    .componentdebut{
        padding-top: 0;
    }
    .container2{
        background-image: none;
    }
    .div1cont2{
        text-align: start;
        align-items: start;
        padding: 0;
    }
    .compcont2{
        padding-top: 2.5375rem;
        align-items: start;
        flex-direction: column;
    }

}
