:root{
    font-size: 100%;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(imgs/Grandes-images/background-pc.webp);
    max-width: 100vw;
    min-height: 100vh;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    color: #FFFFFF;
}

.container1{
    min-width: 95.3125rem;
    min-height: ;
}