:root{
    --color-red : #BB2323;
    --color-orange :#F87F28;
    --color-full-white : #FFFFFF;
    --color-grey-dark : #BFBFBF;
    font-size: 100%;
}
body{
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #232323;
}
.componentdebut{
    display: flex;
}
.div1header{
    display: flex;
    justify-content: space-evenly;
    min-width: 50%;
}
.div2header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
    max-width: 50%;
}
#olivheader{
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 2rem;
    line-height: 2.25rem;
    color: var(--color-full-white);
}
.paraheader{
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Inter';
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--color-full-white);
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
    letter-spacing: 0.25rem;
    text-transform: uppercase;
    margin: 0;
    color: var(--color-full-white);
}
a{
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.5rem;
    color: var(--color-orange);
    padding: .75rem 2rem;
    border: .125rem solid var(--color-orange);
    border-radius: 3.125rem;
    box-sizing: border-box;
    margin: 0;
}
a:hover{
    color: var(--color-full-white);
    background: var(--color-red);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}
img {
    max-width: 100%;
    height: auto;
  }
p{
    margin: 0;
}
h2{
    font-weight: 400;
    font-size: 4.5rem;
    line-height: 6.3125rem;
    letter-spacing: -0.1875rem;
    margin: 0;
    color: var(--color-full-white);
}
h3{
    margin: 0;
}
.olivier{
    display: inline-block;
    font-weight: 700;
    font-size: 4.5rem;
    line-height: 6.3125rem;
    letter-spacing: -0.0625rem;
    color: var(--color-orange);
}
.page-container{
    width: min(100%, 116.25rem);
    height: 100%;
}
.container1{
    display: grid;
    background-image: url(/imgs/Grandes-images/background-cont1.webp);
    width: min(100%, 116.25rem);
    min-height: auto;
}
.componentcont1{
    display: flex;
    box-sizing: border-box;
    padding-top: 9%;
    padding-left: 21%;
}
#texte-div1-cont1{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color-full-white);
}
.div1cont1{
    max-width: 38.9375rem;
}
.div2cont1{
    justify-content: flex-end;
    align-items: flex-end;
}
.div3cont1{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: auto auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;  
    align-items: center;

}
#clients{
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.9375rem;
    margin-top: 10%;
    text-align: center;
    letter-spacing: .1875rem;
    text-transform: uppercase;
    color: var(--color-grey-dark);
}
.container2{
    display: grid;
    background-image: url(/imgs/Grandes-images/background-cont2.webp);
    width: min(100%, 116.25rem);
    min-height: auto;
}